.container {
    max-width: 800px;
    margin: 0 auto;
}

.table-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    max-width: 100%;
    margin: 20px 0;
}

.table-column {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}

.MuiTable-root {
    width: auto;
    table-layout: auto;
}

.MuiTableCell-root {
    font-size: 0.875rem;
}

.chart-container {
    position: relative;
    height: 400px;
    width: 100%;
}